# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/assignment2_third_try/FileContentIndex/1178b0cd-1075-48bb-90a3-ce8967f2927c.vsidx
/.vs/assignment2_third_try/FileContentIndex/a359bae6-1ab2-4103-aeab-10c7424419e2.vsidx
/.vs/assignment2_third_try/FileContentIndex/cc1648cb-5519-4324-8639-98962cc68c65.vsidx
*.vsidx
/.vs/assignment2_third_try/FileContentIndex/18f7805d-74b1-4863-a7bb-856010de481c.vsidx
