/*student ID:103798447
    name: sothearak heng
    group: g-99
*/
/*to remove horizontal overflow*/
.notable-list {
    display: flex; 
    max-width: 100%;
    overflow-x: scroll;
}

.notable-list > * {
    min-width: 500px; 
    padding: 10px; 
  }